<div class="col-md-3">
    <div class="position-sticky" style="top: 2rem;">
        <div class="p-4">
            <h4 class="side-menu-header text-dark fst-italic">Catégorie</h4>                
            <ol class="list-unstyled mb-0">
                {% for category in categories %}
                
                <li><a class="category-item" href="{{ path('postbycat',{slug_category:category.slug}) }}">{{ category.name }}</a></li>                
                {% endfor %}
            </ol>
        </div>   
        <div class="p-4">
            <h4 class="side-menu-header text-dark fst-italic">Tag populaire</h4>                
            <ol class="list-unstyled mb-0 menu-tag">
                {% for tag in tags %}
                <li><a class="btn-tag tag-item" href="{{ path('postbytag', {slug_tag:tag.slug})}}">{{ tag.name }}</a></li>                
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
