{% include 'admin/template/adminHeader.html.twig' %} 
{% include 'admin/template/adminNavbar.html.twig' %}      
<div class="container-fluid">{% block content %}{% endblock %}</div>
{% include 'admin/template/adminFooter.html.twig' %}  


    
