{% extends "template/baseTemplate.html.twig" %}
{% block title %}Index
{% endblock %}

{% block navbar %}{% endblock %}
{% block content %}

<div class="container"> 
<!-- Section: Design Block -->
	<section class="text-center text-lg-start">
	<!-- Jumbotron -->
		<div class="container">
			<div class="row g-0 align-items-center">
				<div class="col-lg-6 mb-5 mb-lg-0">
					<div class="card cascading-right" style="
										background: hsla(0, 0%, 100%, 0.55);
										backdrop-filter: blur(30px);
										">
						<div class="card-body p-5 shadow-5 text-center">

							<!--Gestion des erreurs -->							
							{% if error != empty %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
							<!--END Gestion des erreurs -->

							<h2 class="fw-bold mb-5">Login-Partie Admin</h2>
							<form  method="post">								
								<!-- Email input -->
								<div class="form-outline mb-4">
									<input type="email" id="email-signup" name="email" class="form-control" required/>
									<label class="form-label" for="Email">Email</label>
								</div>
								
								<!-- Password input -->
								<div class="form-outline mb-4">
									<input type="password" id="password-signup" name="password" class="form-control" required/>
									<label class="form-label" for="password-signup">Mot de passe</label>
								</div>							

								<!-- Submit button -->
								<button type="submit" class="btn btn-primary btn-block mb-4">
									Se connecter
								</button>							
							</form>
						</div>
					</div>
				</div>

				<div class="col-lg-6 mb-5 mb-lg-0">
					<img src="assets/img/bg-side.jpg" class="w-100 rounded-4 shadow-4" alt=""/>
				</div>
			</div>
		</div>
		<!-- Jumbotron -->
	</section>
<!-- Section: Design Block -->
</div>
{% endblock %}
