{% extends "admin/template/baseAdmin.html.twig" %}
{% block css %}<link href="css/stylesadmin.css" rel="stylesheet" />{% endblock %} 
{% block title %}Dashboard{% endblock %}    
    
{% block content %}
<div class="container mt-4">
    <div id="layoutSidenav_content">       
        <form method="post" action="" class="row">
            <div class="form-group border border-info mb-5 p-5 ml-5 mr-5">
                <div class="text-center mb-4"><h2 class="fw-bold">Création d'un nouvel utilisateur</h2></div>
                <input class="form-control mb-3" type="text"     name="name" placeholder="Nom"  required>                
                <input class="form-control mb-3" type="text"     name="surname" placeholder="Prénom"  required>
                <input class="form-control mb-3" type="text"     name="nickname" placeholder="Pseudo"  required>
                <input class="form-control mb-3" type="email"    name="email" placeholder="E-mail"  required>                
                <input class="form-control mb-3" type="password" name="password" placeholder="Mot de passe"  required>
                <label for="FormControlUserRole" class="lead fw-bold mb-2">Rôle</label>
                <select multiple name ="role"   class="form-control mb-4" id="FormControlUserRole"  required>
                    <option value ="user">user</option>
                    <option value ="admin">admin</option>                   
                </select> 
                <input name="usertoken" type="hidden" value="{{session.get('usertoken')}}">                      
            <button type="submit" class="btn btn-primary">Enregistrer</button></div>
        </form>
    </div>
</div>
{% endblock %}