{% extends "template/baseTemplate.html.twig" %}
{% block title %}Index
{% endblock %}

{% block navbar %}{% endblock %}
{% block content %}
            <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">{{title}}</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">Who you gonna call?</h2>
                        <div class="d-flex justify-content-around">
                           <a class="btn btn-primary btn-hero" href="#about">Infos</a>
                            <a class="btn btn-primary btn-hero" href="#contactForm">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </section>
    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div
            class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div id="about" class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="..."/></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Aurélien Leygnac</h4>
                        <p class="text-black-50 mb-0">Phrase d'intro personnelle, adore tout le monde. Bourreau de travail, ne dors jamais pense au travail H24. Regorge de compétences informatiques et de softskills !  </p>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="..."/></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Encore du blabla</h4>
                                <p class="mb-0 text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, molestiae eligendi maiores aliquid voluptas dicta quisquam inventore ad unde facere amet.</p>
                                <hr class="d-none d-lg-block mb-0 ms-0"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="..."/></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Un mot sur les skills</h4>
                                <p class="mb-0 text-white-50">Adepte de casse tête, et passionné de refactoring à en avoir des migraines</p>
                                <hr class="d-none d-lg-block mb-0 me-0"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-->
    <section class="signup-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5">Contact</h2>
                    <form class="form-signup" method="post" id="contactForm" data-sb-form-api-token="API_TOKEN"> 
                        <!-- Email address input-->
                        <div class="row input-group-contact">

                            <div class="row mb-3"><input class="form-control" name="name" id="formNameContact" type="text" placeholder="Enter your name..." aria-label="Enter your name..." required /></div>
                            <div class="row mb-3"><input class="form-control" name="surname" id="formSuranmeContact" type="text" placeholder="Enter your surname..." aria-label="Enter your surname..." required /></div>
                            <div class="row mb-3"><input class="form-control" name="email" id="formEmailAddress" type="email" placeholder="Enter email address..." aria-label="Enter email address..." data-sb-validations="required,email" required /></div>
                            <div class="row mb-3">
                                <textarea class="form-control textarea-contact" name="content" id="formContent" rows="5" placeholder="Enter your message..." aria-label="Enter your name..." required ></textarea>
                            </div>
                            <div class=" row mb-3 col-auto">
                                <button class="btn btn-primary" id="submitButton" type="submit">Envoyez</button>
                            </div>
                        </div>                        
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted
                            <div class="d-none" id="submitSuccessMessage"> 
                                <div class="text-center mb-3 mt-2 text-white">
                                    <div class="fw-bolder">Message envoyé!</div>
                                </div>
                            </div>-->
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
