{% extends "admin/template/baseAdmin.html.twig" %}
{% block css %}{% endblock %}    
    
{% block content %}
    <div id="layoutSidenav_content">
        <main>                    
            <div class="card mb-4 my-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Liste des catégories
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr class="bg-success">
                                <th>Nom</th>                                        
                                <th>Slug</th> 
                                <th>Action</th>
                                <th>Delete</th>                                       
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                                <tr class="bg-light">
                                    <td>{{ category.name }}</td>
                                    <td>{{ category.slug }}</td>
                                    <td><a href="{{path('admin_updatecategory', {slug_category:category.slug} )}}"><button type="button" class="btn btn-primary">Modifier</button></a></td>                                                                                    
                                    <td><a href="{{path('admin_deletecategory', {id:category.id} )}}" class="btn btn-danger btn-circle" onclick="return window.confirm('Êtes-vous sûr de vouloir supprimer la cat\égorie?')"><i class="fas fa-trash"></i></a></td>
                                </tr>
                            {% endfor %}                                 
                        </tbody>
                        <tfoot>
                            <tr class="bg-success">
                                <th>Nom</th>
                                <th>Slug</th> 
                                <th>Action</th> 
                                <th>Delete</th>                                     
                            </tr>
                        </tfoot>                                    
                    </table>
                </div>
            </div>                    
        </main>        
    </div>    
{% endblock %}